<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nz-date-picker></nz-date-picker>
  <input nz-input [(ngModel)]="title">
  <br>

  <nz-input-group nzAddOnBefore="Http://" nzAddOnAfter=".com">
    <input type="text" nz-input [(ngModel)]="title">
  </nz-input-group>
  <br>

  <nz-select [ngModel]="'Zhejiang'">
    <nz-option [nzLabel]="'Zhejiang'" [nzValue]="'Zhejiang'"></nz-option>
    <nz-option [nzLabel]="'Jiangsu'" [nzValue]="'Jiangsu'"></nz-option>
  </nz-select>
</div>